@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    color: #012B34;
}

.container {
    margin: auto 160px;
    max-width: 1600px;
}


/* MEDIA */

@media (min-width:320px) and (max-width: 374.99px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .container {
        margin-top: 50px;
        margin: 24px;
        max-width: 327px;
    }
}

@media (min-width:768.74px) and (max-width: 1200px) {
    .container {
        margin-top: 50px;
        margin: 24px;
    }
}